@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&display=swap");
a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  min-height: 20vh;
}

header {
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tituloHead {
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
}

nav {
  max-width: 800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 1em;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: #333;
  -webkit-transition: 0.7s -webkit-transform cubic-bezier(0.06, 0.9, 0.28, 1);
  transition: 0.7s -webkit-transform cubic-bezier(0.06, 0.9, 0.28, 1);
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1), 0.7s -webkit-transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contenedorLogin {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form {
  border: 3px solid #f1f1f1;
}

.btn-log {
  background-color: #aa2b04;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
}

.btn-log:hover {
  background-color: #d63737;
  border: 0.1em solid #e37305;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFB370;
  font-family: 'Lora', serif;
}

.instrucciones {
  margin: 1rem;
  text-align: center;
}

.boton_comenzar {
  text-align: center;
}

.pasos {
  margin-left: 1.2rem;
}

.ingredientes {
  list-style-type: none;
  margin-bottom: 1rem;
}

.intro {
  font-weight: 400;
  font-size: 1.2rem;
}

span {
  font-weight: bold;
}

.btn-ingrediente {
  width: 130px;
  height: auto;
  padding: .5rem;
  margin: .2rem;
  border: 0.1em solid #faebd7;
  border-radius: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  background-color: #faebd7;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-ingrediente:hover {
  color: white;
  background-color: #d63737;
}

.ingredientes_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.boton_principal {
  padding: 0.35em 1.2em;
  border: 0.1em solid #e37305;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: brown;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.boton_principal:hover {
  color: white;
  background-color: #d63737;
}

#busqueda {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
}

.ingredientes_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.ingrediente_boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vegetal_ajo {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_berenjena {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_brocoli {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_calabaza {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_cebolla {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_cherry {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_hongo {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_lechuga {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_morron {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_papa {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_pepino {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_tomate {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_zanahoria {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_zucchini {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.carne_cerdo {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.carne_pescado {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.carne_pollo {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.carne_vaca {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_ajo {
  background-image: url(../media/vegeico/ajo.png);
}

.vegetal_berenjena {
  background-image: url(../media/vegeico/berenjena.png);
}

.vegetal_brocoli {
  background-image: url(../media/vegeico/brocoli.png);
}

.vegetal_calabaza {
  background-image: url(../media/vegeico/calabaza.png);
}

.vegetal_cebolla {
  background-image: url(../media/vegeico/cebolla.png);
}

.vegetal_cherry {
  background-image: url(../media/vegeico/cherry.png);
}

.vegetal_hongo {
  background-image: url(../media/vegeico/hongo.png);
}

.vegetal_lechuga {
  background-image: url(../media/vegeico/lechuga.png);
}

.vegetal_morron {
  background-image: url(../media/vegeico/morron.png);
}

.vegetal_papa {
  background-image: url(../media/vegeico/papa.png);
}

.vegetal_pepino {
  background-image: url(../media/vegeico/pepino.png);
}

.vegetal_tomate {
  background-image: url(../media/vegeico/tomate.png);
}

.vegetal_zanahoria {
  background-image: url(../media/vegeico/zanahoria.png);
}

.vegetal_zucchini {
  background-image: url(../media/vegeico/zuccini.png);
}

.carne_cerdo {
  background-image: url(../media/carneico/cerdob.png);
}

.carne_pescado {
  background-image: url(../media/carneico/pescadob.png);
}

.carne_pollo {
  background-image: url(../media/carneico/pollob.png);
}

.carne_vaca {
  background-image: url(../media/carneico/vacab.png);
}

.vegetal {
  height: 140px;
  width: 110px;
}

.carne {
  height: 140px;
  width: 110px;
}

.titulo_principal {
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
}

.receta_titulo {
  font-size: 2rem;
}

.receta_subtitulo {
  padding-top: 0.5rem;
}

.receta_subtitulo2 {
  margin-bottom: 1rem;
  font-size: .7rem;
}

.cajon_subtitulo {
  text-align: center;
  margin: 2rem;
}

.sitio_subtitulo {
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
}

.receta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  max-width: 50rem;
  margin: 1.5rem 20% 1rem 20%;
  padding: 1rem 1rem;
  background-color: antiquewhite;
  box-shadow: 10px 14px 17px 6px rgba(40, 30, 9, 0.46);
  -webkit-box-shadow: 10px 14px 17px 6px rgba(40, 30, 9, 0.46);
  box-shadow: 10px 14px 17px 6px rgba(40, 30, 9, 0.46);
}

.encabezado_receta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-fav {
  width: 30px;
  height: 30px;
  border: 0.1em solid #faebd7;
  border-radius: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: #faebd7;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-fav:hover {
  color: white;
  background-color: #d63737;
}

.modal-title {
  color: #7d015d;
}

.modal-body {
  color: #7d015d;
}

.btn-primary {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #b81b8f;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #7d015d;
  border-color: #7d015d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #7d015d;
  border-color: #ba50a3;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #7d015d;
  border-color: #ba50a3;
  /* box-shadow: 0 0 0 0.2rem rgb(186 84 165);*/
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  background: #bd93bd;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: #7d015d;
  display: block;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid white;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #b81b8f;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #b81b8f;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #7d015d;
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #7d015d;
}

.mensajeEnviado {
  background-color: antiquewhite;
  border: solid 2px white;
}

.tituloConfirma {
  color: black;
  padding: .3rem;
  margin-left: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.enviadoResumen {
  background-color: #ba50a3;
  color: white;
  list-style: none;
  margin: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

li.mensajeRseumen {
  background-color: grey;
}
/*# sourceMappingURL=styles.css.map */