@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400&display=swap");
a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  min-height: 20vh;
}

header {
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tituloHead {
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
}

nav {
  max-width: 800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 1em;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: #333;
  -webkit-transition: 0.7s -webkit-transform cubic-bezier(0.06, 0.9, 0.28, 1);
  transition: 0.7s -webkit-transform cubic-bezier(0.06, 0.9, 0.28, 1);
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1), 0.7s -webkit-transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set a style for all buttons */
.btn-log {
  background-color: #aa2b04;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 54px;
}

/* Add a hover effect for buttons */
.btn-log:hover {
  background-color: #d63737;
  border: 0.1em solid #e37305;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFB370;
  font-family: 'Lora', serif;
}

.instrucciones {
  margin: 1rem;
  text-align: center;
}

.boton_comenzar {
  text-align: center;
}

.pasos {
  margin-left: 1.2rem;
}

.ingredientes {
  list-style-type: none;
  margin-bottom: 1rem;
}

#cajones {
  display: none;
}

#vege_caja {
  display: none;
}

#carne_caja {
  display: none;
}

.cajon {
  height: 134px;
  width: 104px;
  padding: 0.35em 1.2em;
  border: 0.1em solid #e37305;
  margin: 0.3em;
  border-radius: 0.12em;
}

.cajon_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-ingrediente {
  width: 130px;
  height: auto;
  padding: .5rem;
  margin: .2rem;
  border: 0.1em solid #faebd7;
  border-radius: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  background-color: #faebd7;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-ingrediente:hover {
  color: white;
  background-color: #d63737;
}

.ingredientes_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.cajon_vegetales {
  background-image: url(../media/vegeico/cajonvegetal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 104px;
  -webkit-box-shadow: 12px 12px 8px 2px rgba(119, 66, 13, 0.56);
  box-shadow: 12px 12px 8px 2px rgba(119, 66, 13, 0.56);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cajon_vegetales:hover {
  cursor: pointer;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.cajon_vegetales:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.cajon_carnes {
  background-image: url(../media/carneico/cajoncarne.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 104px;
  -webkit-box-shadow: 12px 12px 8px 2px rgba(119, 66, 13, 0.56);
  box-shadow: 12px 12px 8px 2px rgba(119, 66, 13, 0.56);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cajon_carnes:hover {
  cursor: pointer;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.cajon_carnes:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.boton_principal {
  padding: 0.35em 1.2em;
  border: 0.1em solid #e37305;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: brown;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.boton_principal:hover {
  color: white;
  background-color: #d63737;
}

#busqueda {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
}

.ingredientes_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.ingrediente_boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nofunciona {
  color: grey;
  text-decoration: line-through;
}

.vegetal_ajo {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_berenjena {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_brocoli {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_calabaza {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_cebolla {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_cherry {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_hongo {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_lechuga {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_morron {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_papa {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_pepino {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_tomate {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_zanahoria {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_zucchini {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.carne_cerdo {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.carne_pescado {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.carne_pollo {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.carne_vaca {
  background-color: black;
  background-size: 100px 130px;
  background-repeat: no-repeat;
  background-position: center;
  height: 134px;
  width: 104px;
}

.vegetal_ajo {
  background-image: url(../media/vegeico/ajo.png);
}

.vegetal_berenjena {
  background-image: url(../media/vegeico/berenjena.png);
}

.vegetal_brocoli {
  background-image: url(../media/vegeico/brocoli.png);
}

.vegetal_calabaza {
  background-image: url(../media/vegeico/calabaza.png);
}

.vegetal_cebolla {
  background-image: url(../media/vegeico/cebolla.png);
}

.vegetal_cherry {
  background-image: url(../media/vegeico/cherry.png);
}

.vegetal_hongo {
  background-image: url(../media/vegeico/hongo.png);
}

.vegetal_lechuga {
  background-image: url(../media/vegeico/lechuga.png);
}

.vegetal_morron {
  background-image: url(../media/vegeico/morron.png);
}

.vegetal_papa {
  background-image: url(../media/vegeico/papa.png);
}

.vegetal_pepino {
  background-image: url(../media/vegeico/pepino.png);
}

.vegetal_tomate {
  background-image: url(../media/vegeico/tomate.png);
}

.vegetal_zanahoria {
  background-image: url(../media/vegeico/zanahoria.png);
}

.vegetal_zucchini {
  background-image: url(../media/vegeico/zuccini.png);
}

.carne_cerdo {
  background-image: url(../media/carneico/cerdob.png);
}

.carne_pescado {
  background-image: url(../media/carneico/pescadob.png);
}

.carne_pollo {
  background-image: url(../media/carneico/pollob.png);
}

.carne_vaca {
  background-image: url(../media/carneico/vacab.png);
}

.vegetal {
  height: 140px;
  width: 110px;
}

.carne {
  height: 140px;
  width: 110px;
}

.titulo_principal {
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
}

.receta_titulo {
  font-size: 2rem;
}

.receta_subtitulo {
  padding-top: 0.5rem;
}

.receta_subtitulo2 {
  margin-bottom: 1rem;
  font-size: .7rem;
}

.cajon_subtitulo {
  text-align: center;
  margin: 2rem;
}

.sitio_subtitulo {
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
}

.receta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  max-width: 50rem;
  margin: 1.5rem 20% 1rem 20%;
  padding: 1rem 1rem;
  background-color: antiquewhite;
  box-shadow: 10px 14px 17px 6px rgba(40, 30, 9, 0.46);
  -webkit-box-shadow: 10px 14px 17px 6px rgba(40, 30, 9, 0.46);
  box-shadow: 10px 14px 17px 6px rgba(40, 30, 9, 0.46);
}

.encabezado_receta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-fav {
  width: 30px;
  height: 30px;
  border: 0.1em solid #faebd7;
  border-radius: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: #faebd7;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-fav:hover {
  color: white;
  background-color: #d63737;
}

.modal-title {
  color: #7d015d;
}

.modal-body {
  color: #7d015d;
}

.btn-primary {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #b81b8f;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #7d015d;
  border-color: #7d015d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #7d015d;
  border-color: #ba50a3;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #7d015d;
  border-color: #ba50a3;
  /* box-shadow: 0 0 0 0.2rem rgb(186 84 165);*/
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  background: #bd93bd;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: #7d015d;
  display: block;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid white;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #b81b8f;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #b81b8f;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #7d015d;
  -webkit-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #7d015d;
}
/*# sourceMappingURL=styles.css.map */