*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFB370;
    font-family: 'Lora', serif;
}

.instrucciones{
    margin: 1rem;
    text-align: center;
}

.boton_comenzar{
    text-align: center;
}

.pasos{
    margin-left: 1.2rem;

}

.ingredientes{
    list-style-type: none;
    margin-bottom: 1rem;
}

.btn-ingrediente{
    width: 130px;
    height: auto;
    padding: .5rem;
    margin: .2rem;
    border: 0.1em solid #faebd7;
    border-radius: 1.5em;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    background-color:#faebd7;
    text-align: center;
    transition: all 0.2s;
    align-self: flex-end;
    &:hover{
        color:white;
        background-color: rgb(214, 55, 55);
    }
}

.ingredientes_flex{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: baseline;
}

.boton_principal{
    padding: 0.35em 1.2em;
    border: 0.1em solid #e37305;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color:brown;
    text-align: center;
    transition: all 0.2s;
    &:hover{
        color:white;
        background-color: rgb(214, 55, 55);

    }
}

#busqueda {
    flex-flow: wrap column;
}

.ingredientes_flex {
    display: flex;
    flex-flow: wrap row;
}

.ingrediente_boton{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}