.titulo_principal{
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
}

.receta_titulo{
    font-size: 2rem;
}

.receta_subtitulo{
    padding-top: 0.5rem;
}

.receta_subtitulo2{
    margin-bottom: 1rem;
    font-size: .7rem;
}

.cajon_subtitulo{
    text-align: center;
    margin: 2rem;
}

.sitio_subtitulo{
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}